.ui.modal .ui.form {
  line-height: 1.4285em;
}

.form-type-textfield,
.form-type-password,
.form-type-textarea,
.form-type-email,
.form-type-date.field,
.form-type-number.field,
.form-type-entity-autocomplete.field,
.form-type-url.field,
.form-type-path.field,
.form-type-machine-name.field,
.form-type-select.field,
.form-type-language-select.field,
.webform-component-textfield,
.webform-component-email,
.webform-component-number,
.webform-component-textarea {
  position: relative;
}

.form-type-textfield.form-item.field label,
.form-type-password.form-item.field label,
.form-type-textarea.form-item.field > label,
.form-type-email.form-item.field label,
.form-type-date.form-item.field label,
.form-type-number.form-item.field label,
.form-type-entity-autocomplete.form-item.field label,
.form-type-url.form-item.field label,
.form-type-path.form-item.field label,
.form-type-machine-name.form-item.field label,
.form-type-select.form-item.field label,
.form-type-language-select.form-item.field label,
.ui.form .webform-component-textfield.form-item label,
.ui.form .webform-component-email.form-item label,
.ui.form .webform-component-number.form-item label,
.ui.form .webform-component-textarea.form-item label {
  background: transparent;
  color: rgba(191, 191, 191, .87);
  left: 1.1em;
  pointer-events: none;
  position: absolute;
  top: 10px;
  z-index: 5;
}

/* Allow label contain hoverable elements (e.g. an icon to show a popup). */
.form-type-textarea.form-item.field label.floating-label {
  pointer-events: auto;
}

/* Show dropdown menu behind the label. */
label.floating-label ~ .ui.selection.dropdown.active,
label.floating-label ~ .ui.selection.dropdown.visible {
  z-index: 4;
}

/* Put the dropdown menu on top of other labels that relate to fields that are
 placed under this one. */
.field.floating-label-active label.floating-label ~ .ui.selection.dropdown {
  z-index: 6;
}

/* Put the label over the input. */
.field.floating-label-active label.floating-label {
  z-index: 10;
}

.field.floating-label-active label.floating-label ~ .ui.selection.dropdown {
  z-index: 7;
}

.form-type-textarea.form-item.field label,
.ui.form .webform-component-textarea.form-item label {
  top: 12px;
}

.form-type-textfield.form-item.field label.floating-label,
.form-type-password.form-item.field label.floating-label,
.form-type-textarea.form-item.field label.floating-label,
.form-type-email.form-item.field label.floating-label,
.form-type-date.field label.floating-label,
.form-type-number.field label.floating-label,
.form-type-entity-autocomplete.field label.floating-label,
.form-type-url.field label.floating-label,
.form-type-path.field label.floating-label,
.form-type-machine-name.field label.floating-label,
.form-type-select.field label.floating-label,
.form-type-language-select.field label.floating-label,
.ui.form .webform-component-textfield.form-item label.floating-label,
.ui.form .webform-component-email.form-item label.floating-label,
.ui.form .webform-component-number.form-item label.floating-label,
.ui.form .webform-component-textarea.form-item label.floating-label {
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: rgba(0, 0, 0, .8);
  font-size: .71428571rem;
  line-height: 1em;
  opacity: 1;
  padding: 2px;
  top: -0.7em;
}
