/* Body
---------------------------------------------------------------------- */
body, html {
  background-color: #f6f6f6;
}

body {
  /* Fix jumping scrollbar. */
  margin-left: calc(100vw - 100%);
  -webkit-font-smoothing: antialiased;
}

p:last-child {
  margin: 0 0 1em;
}

main.ui.grid {
  margin-top: 2rem;
}

/* Fix top margin for the segment with main content as there is preceding
 <a id="main-content"></a> tag. In this case the segment is not the first child
 and Fomantic UI adds the margin. */
.layout-content > .ui.segment {
  margin-top: 0;
}

.layout-content .block-page-title-block h3 {
  margin: 0;
}

.visually-hidden + .menu,
.visually-hidden + .segment {
  margin-top: 0;
}

/* Extend default container width for large monitor. */
@media only screen and (min-width: 1600px) {
  .ui.ui.ui.container:not(.fluid) {
    width: 1504px;
    margin-left: auto;
    margin-right: auto;
  }

  .ui.ui.ui.grid.container {
    width: calc(1504px + 2rem);
  }

  .ui.ui.ui.relaxed.grid.container {
    width: calc(1504px + 3rem);
  }

  .ui.ui.ui.very.relaxed.grid.container {
    width: calc(1504px + 5rem);
  }
}

/* Header
---------------------------------------------------------------------- */

/* Navigation
---------------------------------------------------------------------- */

/* Update navigation menu to take full width (regarding fix for jumping
 scrollbar). */
.ui.menu.navigation:not(.fixed) {
  margin-left: calc((100% - 100vw) / 2);
  max-width: calc(100% + calc((100vw - 100%) / 2));
  width: calc(100% + calc((100vw - 100%) / 2));
}

.ui.navigation.admin-menu {
  margin-top: 21px;
}

.ui.menu.navigation {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* Content
---------------------------------------------------------------------- */
select.ui.dropdown {
  display: none !important;
}

/* Sidebar
---------------------------------------------------------------------- */

/* Footer
---------------------------------------------------------------------- */
