{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
{{ attach_library('semanticui/search') }}
<div class="ui fluid search icon input">
  <input{{ attributes.addClass('prompt') }} />
  <i class="search link icon"></i>
  {{ children }}
</div>
