{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
  <nav class="ui breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
    <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
    {% for item in breadcrumb %}
      {% if item.url %}
        <a class="section" href="{{ item.url }}">{{ item.text }}</a>
      {% else %}
        <span class="section">{{ item.text }}</span>
      {% endif %}
      {% if not loop.last %}
        <i class="right angle icon divider"></i>
      {% endif %}
    {% endfor %}
  </nav>
{% endif %}
