{# Check is the item is a nested one and use related classes. Main item is
 rendered as a regular button. #}
{% set dropdown_classes = nested ? ['item'] : ['ui', 'button'] %}
{%- if item.link -%}
  {# Keep default classes from the item. Skip "list" class as it breaks the
   button with List styles. #}
  {% set default_classes = item.attributes.class ? item.attributes.removeClass('list').class|merge(dropdown_classes) : dropdown_classes %}
  {% set classes = item.link['#options']['attributes']['class'] ? item.link['#options']['attributes']['class']|merge(default_classes) : default_classes %}
  {% set link_attributes = item.link['#options']['attributes'] ? item.link['#options']['attributes']|merge({'class': classes}) : {'class': classes} %}
  {% set options = item.link['#options'] ? item.link['#options']|merge({'attributes': link_attributes}) : {'attributes': link_attributes} %}
  {% set link = item.link|merge({'#options': options}) %}

  {{ link }}
{%- elseif item.text_attributes -%}
  <div{{ item.text_attributes.addClass(dropdown_classes) }}>{{ item.text }}</div>
{%- else -%}
  <div{{ create_attribute({'class': dropdown_classes}) }}>{{ item.text }}</div>
{%- endif -%}
