{#
/**
 * @file
 * Theme override for a local task link.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper element.
 * - is_active: Whether the task item is an active tab.
 * - link: A rendered link element.
 *
 * Note: This template renders the content for each task item in
 * menu-local-tasks.html.twig.
 *
 * @see template_preprocess_menu_local_task()
 */
#}

{% set default_classes = [
  'item',
  is_active ? 'active',
] %}

{# Keep existing link properties. #}
{% set classes = link['#options']['attributes']['class'] ? link['#options']['attributes']['class']|merge(default_classes) : default_classes %}
{% set link_attributes = link['#options']['attributes'] ? link['#options']['attributes']|merge({'class': classes}) : {'class': classes} %}
{% set options = link['#options'] ? link['#options']|merge({'attributes': link_attributes}) : {'attributes': link_attributes} %}
{% set link = link|merge({'#options': options}) %}

{{ link }}
