{#
/**
 * @file
 * Theme override to display a pager.
 *
 * Available variables:
 * - heading_id: Pagination heading ID.
 * - items: List of pager items.
 *   The list is keyed by the following elements:
 *   - first: Item for the first page; not present on the first page of results.
 *   - previous: Item for the previous page; not present on the first page
 *     of results.
 *   - next: Item for the next page; not present on the last page of results.
 *   - last: Item for the last page; not present on the last page of results.
 *   - pages: List of pages, keyed by page number.
 *   Sub-sub elements:
 *   items.first, items.previous, items.next, items.last, and each item inside
 *   items.pages contain the following elements:
 *   - href: URL with appropriate query parameters for the item.
 *   - attributes: A keyed list of HTML attributes for the item.
 *   - text: The visible text used for the item link, such as "‹ Previous"
 *     or "Next ›".
 * - current: The page number of the current page.
 * - ellipses: If there are more pages than the quantity allows, then an
 *   ellipsis before or after the listed pages may be present.
 *   - previous: Present if the currently visible list of pages does not start
 *     at the first page.
 *   - next: Present if the visible list of pages ends before the last page.
 *
 * @see template_preprocess_pager()
 */
#}
{% if items %}
  <nav class="pager" role="navigation" aria-labelledby="{{ heading_id }}">
    <h4 id="{{ heading_id }}" class="visually-hidden">{{ 'Pagination'|t }}</h4>
    <div class="pager__items js-pager__items ui pagination menu">
      {# Print previous item if we are not on the first page. #}
      {% if items.previous %}
        <a href="{{ items.previous.href }}" title="{{ 'Go to previous page'|t }}" rel="prev" class="icon item"{{ items.previous.attributes|without('href', 'title', 'rel') }}>
          <span class="visually-hidden">{{ 'Previous page'|t }}</span>
          <i class="arrow left icon"></i>
        </a>
      {% endif %}
      {# Print first item if we are not on the first page. #}
      {% if items.first %}
        <a href="{{ items.first.href }}" title="{{ 'Go to first page'|t }}" class="item"{{ items.first.attributes|without('href', 'title') }}>
          <span class="visually-hidden">{{ 'First page'|t }}</span>
          <span aria-hidden="true">{{ items.first.text|default('« First'|t) }}</span>
        </a>
      {% endif %}
      {# Add an ellipsis if there are further previous pages. #}
      {% if ellipses.previous %}
        <div class="pager__item pager__item--ellipsis disabled item" role="presentation">&hellip;</div>
      {% endif %}
      {# Now generate the actual pager piece. #}
      {% for key, item in items.pages %}
        {% if current == key %}
          {% set title = 'Current page'|t %}
        {% else %}
          {% set title = 'Go to page @key'|t({'@key': key}) %}
        {% endif %}
        <a href="{{ item.href }}" title="{{ title }}" class="item{{ current == key ? ' active' : '' }}"{{ item.attributes|without('href', 'title') }}>
          <span class="visually-hidden">
            {{ current == key ? 'Current page'|t : 'Page'|t }}
          </span>
          {{- key -}}
        </a>
      {% endfor %}
      {# Add an ellipsis if there are further next pages. #}
      {% if ellipses.next %}
        <div class="pager__item pager__item--ellipsis disabled item" role="presentation">&hellip;</div>
      {% endif %}
      {# Print last item if we are not on the last page. #}
      {% if items.last %}
        <a href="{{ items.last.href }}" title="{{ 'Go to last page'|t }}" class="item"{{ items.last.attributes|without('href', 'title') }}>
          <span class="visually-hidden">{{ 'Last page'|t }}</span>
          <span aria-hidden="true">{{ items.last.text|default('Last »'|t) }}</span>
        </a>
      {% endif %}
      {# Print next item if we are not on the last page. #}
      {% if items.next %}
        <a href="{{ items.next.href }}" title="{{ 'Go to next page'|t }}" rel="next" class="icon item"{{ items.next.attributes|without('href', 'title', 'rel') }}>
          <span class="visually-hidden">{{ 'Next page'|t }}</span>
          <i class="arrow right icon"></i>
        </a>
      {% endif %}
    </div>
  </nav>
{% endif %}
