{#
/**
 * @file
 * Theme override for a progress bar.
 *
 * Note that the core Batch API uses this only for non-JavaScript batch jobs.
 *
 * Available variables:
 * - label: The label of the working task.
 * - percent: The percentage of the progress.
 * - message: A string containing information to be displayed.
 */
#}
{# Use wrapper with relate attribute which is used with Batch. #}
<div class="progress" data-drupal-progress>
  <div class="ui blue active progress" data-percent="{{ percent }}">
    <div class="progress__bar bar" style="width: {{ percent }}%">
      <div class="progress__percentage progress">{{ percent }}%</div>
    </div>
    {% if label %}
      <div class="progress__label label">{{ label }}</div>
    {% endif %}
    <div class="progress__description">{{ message }}</div>
  </div>
</div>
