/**
 * @file
 * Admin styling for the Filter module.
 */

/**
 * Filter information under field.
 */
.form .text-format-wrapper > .form-item.field {
  margin-bottom: 0;
}

/* Attach textarea with full content to the "Text format" section while using
 "Restricted HTML". */
.form .text-format-wrapper textarea.text-full,
.form .text-format-wrapper textarea.text-full:focus {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.filter-wrapper {
  overflow: visible;
}
