{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}

{# Use "attached" or "fixed" class as they interfere each other and navigation
 takes full page height. #}
{%
  set navigation_classes = [
    'ui',
    'inverted',
    'navigation',
    'menu',
    fixed_navbar ? 'fixed' : 'attached',
  ]
%}

{% block content %}
  <div{{ create_attribute({'class': navigation_classes}) }}>
    {% if site_logo %}
      <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="item site-logo">
        <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
      </a>
    {% endif %}
    {% if site_name %}
      <a class="item site-name" href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
    {% endif %}
    {% if site_slogan %}
      <div class="item site-slogan">{{ site_slogan }}</div>
    {% endif %}
  </div>
{% endblock %}
