/**
 * Modules page.
 */

/* Update page with module to fit description and don't extend the table out of
 page wrapper. */
.system-modules td details {
  height: unset;
}

.system-modules details {
  overflow: unset;
  white-space: unset;
}

.layout-container {
  margin: 0;
}
