/**
 * @file
 * Collapsible details.
 */

/* Fix inheritance of box-sizing in the details element while using Chrome. In
 this case child elements don't get proper value set by Fomantic UI. Here is
 related issue in the tacker:
 https://bugs.chromium.org/p/chromium/issues/detail?id=589475. */
details > .details-wrapper {
  box-sizing: border-box;
}
