/**
 * @file
 * Override styles for dropbuttons. The library extends parent one to support
 * original behavior in case of default "links.html.twig" template.
 */

/* Remove border around the widget if it's placed inside a table. Currently
 Views uses dropbutton and it would be good to inherit original behavior. Use
 default positioning to properly align the button in a table. */
.js td .dropbutton-widget {
  background: unset;
  border: none;
  position: unset;
}

.js td .dropbutton-wrapper {
  min-height: 2.5em;
}

/* Show dropdown menu with items. */
.js .dropbutton-widget > .ui.buttons {
  overflow: visible;
}
