{#
/**
 * @file
 * Theme override for a set of filter tips.
 *
 * Available variables:
 * - tips: Descriptions and a CSS ID in the form of 'module-name/filter-id'
 *   (only used when 'long' is TRUE) for each filter in one or more text
 *   formats.
 * - long: A flag indicating whether the passed-in filter tips contain extended
 *   explanations, i.e. intended to be output on the path 'filter/tips'
 *   (TRUE), or are in a short format, i.e. suitable to be displayed below a
 *   form element. Defaults to FALSE.
 * - multiple: A flag indicating there is more than one filter tip.
 *
 * @see template_preprocess_filter_tips()
 */
#}
{% if multiple %}
  <h2>{{ 'Text Formats'|t }}</h2>
{% endif %}

{% if tips|length %}
  {% if multiple %}
    <div class="compose-tips">
  {% endif %}

  {% for name, tip in tips %}
    {% if multiple %}
      {%
        set tip_classes = [
          'filter-type',
          'filter-' ~ name|clean_class,
        ]
      %}
      <div{{ tip.attributes.addClass(tip_classes) }}>
      <h3>{{ tip.name }}</h3>
    {% endif %}

    {% if tip.list|length %}
      <ul class="tips ui list">
      {% for item in tip.list %}
        {%
          set item_classes = [
            long ? 'filter-' ~ item.id|replace({'/': '-'}),
          ]
        %}
        <li{{ item.attributes.addClass(item_classes) }}>{{ item.tip }}</li>
      {% endfor %}
      </ul>
    {% endif %}

    {% if multiple %}
      </div>
    {% endif %}
  {% endfor %}

  {% if multiple %}
    </div>
  {% endif %}
{% endif %}
