{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

{% if page.sidebar_first and page.sidebar_second %}
  {% set main_content_classes = ['eight', 'wide', 'column'] %}
{% elseif page.sidebar_first or page.sidebar_second %}
  {% set main_content_classes = ['twelve', 'wide', 'column'] %}
{% else %}
  {% set main_content_classes = ['column'] %}
{% endif %}

{% set main_content_attributes = create_attribute({'class': main_content_classes}) %}

<div class="layout-container">

  <header role="banner">
    {{ page.header }}
  </header>

  <div class="ui container">
    {{ page.primary_menu }}
    {{ page.secondary_menu }}

    {{ page.breadcrumb }}

    {{ page.highlighted }}

    {{ page.help }}
    <main class="ui stackable grid" role="main">
      {% if page.sidebar_first %}
        <aside class="layout-sidebar-first four wide column" role="complementary">
          {{ page.sidebar_first }}
        </aside>
      {% endif %}

      <div{{ main_content_attributes.addClass('layout-content') }}>
        <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
        {% set render_title = page.content.semanticui_page_title|render|striptags|trim is not empty %}
        {% if render_title %}
          <div class="ui top attached secondary segment">
            {{ page.content.semanticui_page_title }}
          </div>
        {% endif %}
        <div class="ui{{ render_title ? ' bottom attached' }} segment">
          {{ page.content|without('semanticui_page_title') }}
        </div>
      </div>{# /.layout-content #}

      {% if page.sidebar_second %}
        <aside class="layout-sidebar-second four wide column" role="complementary">
          {{ page.sidebar_second }}
        </aside>
      {% endif %}

    </main>
  </div>

  {% if page.footer %}
    <div class="ui divider"></div>
    <footer class="ui container" role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>{# /.layout-container #}
