{#
/**
 * @file
 * Theme override to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 */
#}
<article{{ attributes.addClass('profile').addClass('ui', 'grid') }}>
  {% if content.user_picture['#items'] %}
    <div class="four wide column">
      {{ content.user_picture }}
    </div>
  {% endif %}
  <div class="{{ content.user_picture['#items'] ? 'twelve' : 'sixteen' }} wide column">
    {% if content %}
      {{- content|without('user_picture') -}}
    {% endif %}
  </div>
</article>
